.assigndetail__container {
  width: 99.5%;
  background-color: black;
  margin-left: 0.25%;
  margin-top: 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.assigndetail__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.assigndetail__location {
  font-size: 18px;
  font-weight: light;
  margin: 10px 0px;
}

.assigndetail__type {
  font-size: 18px;
  font-weight: light;
  margin: 10px 0px;
}

.assigndetail__dimension {
  font-size: 18px;
  font-weight: light;
  margin: 10px 0px;
}

.assigndetail__nochar {
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 95%;
  margin-left: 2.5%;
}
